package main



templ pageFromMarkdown(content map[string]interface{}) {
    <html>
    <head>

    <style>
    html {
        color:#ffffff;
        background:#2f2f2f;
        font-family: sans-serif;
        }

    </style>
    <title>Michael Hegner</title>
    </head>
    <body>

    </body>
        
    </html>
}
